/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
  line-height: 2;
}

.btn-small {
  margin: 5px;
}

.collapsible-header .col strong {
  margin: 5px;
  line-height: 42px;
}

.brand-logo {
  margin-left: 25px;
  margin-right: 25px;
}

.card {
  padding: 25px;
}

@media only screen and (max-width: 600px) {
  .brand-logo {
    margin-left: 5px;
    margin-right: 5px;
  }
}
