{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Annotate Chats </h3>

<div class="row card-panel grey lighten-5">
    {% for conversation in conversations %}
    {% if conversation.status == "done" %}
<form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('annotatechats',convid=conversation._id)}}">
            <ul class="collapsible">
                    <li>
                        <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                            <div class="col s12">
                                <i class="fas fa-caret-down"></i>
                                <!-- button trigger python function to respond to annotate Chat -->
                                <!-- <a href="{{ url_for('annotatechats', activeconv = conversation._id)}}"
                                    class="btn-small light-blue lighten-1">Annotate</a> -->
                                <a href=""
                                    class="btn-small light-blue lighten-1">Annotate</a>
                            </div>
                        </div>
                        <!-- Display conversation details -->
                        <div class="collapsible-body">
                            <!-- rating -->
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="fas fa-list prefix light-blue-text text-darken-4"></i>
                                    <select id="rating_name" name="rating_name" class="validate">
                                        <option value="" disabled selected>Choose Rating</option>
                                        {% for rating in ratings %}
                                        <option value="{{ rating.rating_name }}">{{ rating.rating_name }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="rating_name">Rating</label>
                                </div>
                            </div>
                            <!-- annotate button -->
                            <div class="row">
                                <h1>{{ conversation._id }}</h1>
                                <!-- selectconvid = conversation._id -->
                                <!-- <div>
                                    <a href="{{ url_for('annotatechats', convid = conversation._id) }}" class="col s12 btn-large light-blue text-darken-4 tooltipped" data-position="right"
                                        data-tooltip="Annotate Conversations">
                                        Update <i class="fas fa-share-square"></i></a> 
                                </div> -->
                                <button type="submit" name="update_button" value="Update"
                                    class="col s12 btn-large light-blue text-darken-4 tooltipped" data-position="right"
                                    data-tooltip="Annotate Conversations">
                                    Update <i class="fas fa-share-square"></i>
                                </button>
                            </div>
                            <div class="row">
                            <strong>Topic : {{ conversation.topic_name }}</strong></br>
                            <strong>User : {{ conversation.username }}</strong></br>
                            <strong>Moderator: {{ conversation.moderator }}</strong></br>
                            <strong>Status: {{ conversation.status }}</strong>
                            <p>{{ conversation._id }}</p>
                            {% for msg in conversation.msg %}
                            [{{msg.timestamp}}]: ({{ msg.username }}) {{msg.msgtxt}}<br>
                            {% endfor %}
                            </div>
                    </li>
                </ul>
            </form>
            {% endif %}
            {% endfor %}
</div>
{% endblock %}