{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Chat List</h3>

<div class="row card-panel grey lighten-5">
    <ul class="collapsible">
        {% for conversation in conversations %}
        {% if conversation.status == "pending" %}
        <li>
            <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                <i class="fas fa-caret-down"></i>
                <strong>{{  conversation.topic_name  }} {{  conversation.timestamp }}</strong>
                {%  if conversation.status == "pending" %}
                <i class="fas fa-exclamation-circle light-blue-text text-lighten-2"></i>
                <button type="submit" class="col s12 btn-large light-blue text-darken-4 tooltipped"
                    data-position="right" data-tooltip="Moderate Chat">
                    Moderate Chat <i class="far fa-comments"></i>
                </button>
                {% endif %}
            </div>
            <div class="collapsible-body">
                <strong>{{ conversation.username }}</strong>
                <p>{{ conversation._id }}</p>
            </div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}