{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Pending Chats List</h3>

<div class="row card-panel grey lighten-5">
    <div class="col s12 m8 offset-m2" method="POST" action="{{ url_for('chatlist') }}">
        <div class="row">
            <ul class="collapsible">
                {% for conversation in conversations %}
                {% if conversation.status == "pending" or conversation.status =="active" %}
                <li>
                    <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                        <div class="col s12">
                            <i class="fas fa-caret-down"></i>
                            <!-- button trigger python function to respond to pending Chat -->
                            {% if conversation.status == "pending" %}
                            <a href="{{ url_for('chatlist', activeconv = conversation._id)}}"
                                class="btn-small light-blue lighten-1">Respond</a>
                            {% else %}
                            <!-- button to indicate conversation which have been assigned -->
                            <div class="btn-small light-blue lighten-1">Assigned</div>
                            {% endif %}
                        </div>
                        <div class="col s12">
                            <strong>{{  conversation.topic_name  }} {{  conversation.timestamp }}</strong>
                            <!-- Exclamation icon to indicate user waiting for response -->
                            {% if conversation.status == "pending" %}
                            <i class="fas fa-exclamation-circle light-blue-text text-lighten-2"></i>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Display conversation details -->
                    <div class="collapsible-body">
                        <strong>Topic : {{ conversation.topic_name }}</strong></br>
                        <strong>User : {{ conversation.username }}</strong></br>
                        <strong>Moderator: {{ conversation.moderator }}</strong></br>
                        <strong>Status: {{ conversation.status }}</strong>
                        <p>{{ conversation._id }}</p>
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}